# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
dist/
build/
coverage/
logs/
*.log

# Environment files
.env
.env.*
.envo

# Uploads (optional – keep only structure)
uploads/
!uploads/.gitkeep

# macOS / IDE
.DS_Store
.vscode/
.idea/
*.iml

